DATABASE_URL=
SESSION_SECRET=



# ZITADEL AUTH ENV VARIABLES
ZITADEL_DOMAIN=
CLIENT_ID=
# REDIRECT_URI=
REDIRECT_URI=
LOGOUT_URI=
STATE=
MACHINE_API_KEY=

ELASTICSEARCH_VERSION=
ELASTIC_PASSWORD=
KIBANA_VERSION=
CONNECTORS_VERSION=
ELASTIC_USERNAME=

# MongoDB Configuration
MONGODB_URI=
MONGODB_DATABASE=
MONGODB_COLLECTION=

# Elasticsearch Configuration
ELASTICSEARCH_URI=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# Application Configuration
RETRY_INTERVAL_SECONDS=
MAX_RETRIES=