{
    "dataOrgs": {
        "orgs": [
            {
                "orgId": "282436724594901075",
                "org": {
                    "name": "Skillanthropy"
                },
                "projects": [
                    {
                        "projectId": "282436724594966611",
                        "project": {
                            "name": "ZITADEL"
                        }
                    },
                    {
                        "projectId": "282436978618662995",
                        "project": {
                            "name": "Skillanthropy"
                        }
                    }
                ],
                "apiApps": [
                    {
                        "appId": "282436724595032147",
                        "app": {
                            "projectId": "282436724594966611",
                            "name": "Management-API",
                            "authMethodType": "API_AUTH_METHOD_TYPE_PRIVATE_KEY_JWT"
                        }
                    },
                    {
                        "appId": "282436724595097683",
                        "app": {
                            "projectId": "282436724594966611",
                            "name": "Admin-API",
                            "authMethodType": "API_AUTH_METHOD_TYPE_PRIVATE_KEY_JWT"
                        }
                    },
                    {
                        "appId": "282436724595163219",
                        "app": {
                            "projectId": "282436724594966611",
                            "name": "Auth-API",
                            "authMethodType": "API_AUTH_METHOD_TYPE_PRIVATE_KEY_JWT"
                        }
                    }
                ],
                "oidcApps": [
                    {
                        "appId": "282436724595228755",
                        "app": {
                            "projectId": "282436724594966611",
                            "name": "Console",
                            "redirectUris": [
                                "http://zitadel-gsk61u.localhost:8000/ui/console/auth/callback",
                                "http://localhost:8000/ui/console/auth/callback"
                            ],
                            "responseTypes": [
                                "OIDC_RESPONSE_TYPE_CODE"
                            ],
                            "grantTypes": [
                                "OIDC_GRANT_TYPE_AUTHORIZATION_CODE"
                            ],
                            "appType": "OIDC_APP_TYPE_USER_AGENT",
                            "authMethodType": "OIDC_AUTH_METHOD_TYPE_NONE",
                            "postLogoutRedirectUris": [
                                "http://zitadel-gsk61u.localhost:8000/ui/console/signedout",
                                "http://localhost:8000/ui/console/signedout"
                            ],
                            "devMode": true,
                            "clockSkew": "0s"
                        }
                    },
                    {
                        "appId": "282437055089213523",
                        "app": {
                            "projectId": "282436978618662995",
                            "name": "Skillanthropy",
                            "redirectUris": [
                                "http://localhost:8001/auth/callback",
                                "http://localhost:5173/auth/callback"
                            ],
                            "responseTypes": [
                                "OIDC_RESPONSE_TYPE_CODE"
                            ],
                            "grantTypes": [
                                "OIDC_GRANT_TYPE_AUTHORIZATION_CODE"
                            ],
                            "appType": "OIDC_APP_TYPE_USER_AGENT",
                            "authMethodType": "OIDC_AUTH_METHOD_TYPE_NONE",
                            "postLogoutRedirectUris": [
                                "http://localhost:8001/auth/callback",
                                "http://localhost:5173/auth/callback",
                                "http://localhost:5173/login",
                                "http://localhost:5173"
                            ],
                            "devMode": true,
                            "clockSkew": "0s"
                        }
                    }
                ],
                "humanUsers": [
                    {
                        "userId": "282436724595425363",
                        "user": {
                            "userName": "zitadel-admin@zitadel.127.0.0.1.sslip.io",
                            "profile": {
                                "firstName": "ZITADEL",
                                "lastName": "Admin",
                                "displayName": "ZITADEL Admin",
                                "preferredLanguage": "en"
                            },
                            "email": {
                                "email": "zitadel-admin@zitadel.127.0.0.1.sslip.io"
                            }
                        }
                    }
                ],
                "machineUsers": [
                    {
                        "userId": "284926424458985732",
                        "user": {
                            "userName": "Instance Admin",
                            "name": "Admin"
                        }
                    }
                ],
                "orgMembers": [
                    {
                        "userId": "282436724595425363",
                        "roles": [
                            "ORG_OWNER"
                        ]
                    }
                ],
                "projectMembers": [
                    {
                        "projectId": "282436724594966611",
                        "userId": "282436724595425363",
                        "roles": [
                            "PROJECT_OWNER"
                        ]
                    },
                    {
                        "projectId": "282436978618662995",
                        "userId": "282436724595425363",
                        "roles": [
                            "PROJECT_OWNER"
                        ]
                    }
                ],
                "domains": [
                    {
                        "orgId": "282436724594901075",
                        "domainName": "skillanthropy.127.0.0.1.sslip.io",
                        "isVerified": true
                    },
                    {
                        "orgId": "282436724594901075",
                        "domainName": "zitadel.127.0.0.1.sslip.io",
                        "isVerified": true,
                        "isPrimary": true
                    }
                ]
            }
        ]
    },
    "timeout": "1000s"
}